/* sidebarMenu Css */
/* .App {
  text-align: center;
} */

.Container {
  display: flex;
}

.sidenav---sidenav---_2tBP.sidenav---expanded---1KdUL {
  background: #002447;
}

.sidenav---navicon---3gCRo {
  font-size: 20px;
}

.sidenav---sidenav---_2tBP {
  background: #002447;
}