/* sidebarMenu Css */
/* .App {
  text-align: center;
} */

/* img,
svg {
  vertical-align: middle;
  font-size: 50px;
}

.text-center {
  text-align: center !important;
  font-size: 20px;
}

.card {
  background: #3BC6AC;
}*/

a:link {
  text-decoration: none;
}


* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.sidebarMenu {
  display: flex;
}

main {
  width: 100%;
  padding: 5px;
}


.sidebar {
  background: #1d444b;
  color: #fff;
  height: 100vh;
  width: 200px;
  transition: all 0.5s;
}

.top_section {
  display: flex;
  align-items: center;
  padding: 20px 15px;
}

.logo {
  font-size: 25px;
  margin-top: 7px;
}

.bars {
  display: flex;
  font-size: 25px;
  margin-left: 50px;
}

.link {
  display: flex;
  color: #fff;
  padding: 10px 15px;
  gap: 15px;
  transition: all 0.5s;
}

.link:hover {
  background: lightskyblue;
  color: #000;
  transition: all 0.5s;
}

.active {
  background: lightskyblue;
  color: #000;
}

.icon,
.link_text {
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
}

.list {
  margin: 0px 0px;
  padding: 25px 22px 20px;
  background: #1d444b;
  color: #fff;
  border-radius: 5px;
  font-family: 'Montserrat', sans-serif;
}

.tableList {
  margin: 15px 0px;
  overflow: scroll;
  width: 96%;
  height: 84%;
  position: fixed;
}

.table>thead {
  background: #1188A6;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
}

.table>tbody {
  vertical-align: inherit;
  background: #1188a629;
  font-family: 'Montserrat', sans-serif;
}

input[type=checkbox],
input[type=radio] {
  width: 40px;
  height: 15px;
}