/*===========================
  EVS Website style CSS
===========================*/


@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700|Roboto:300,400,500,700');

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    overflow: overlay;
}

img {
    max-width: 100%;
}

a:focus,
input:focus,
textarea:focus,
button:focus {
    text-decoration: none;
    outline: none;
}

a {
    text-decoration: none;
}

a:focus,
a:hover {
    text-decoration: none;
}

i,
span,
a {
    display: inline-block;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    font-weight: 700;
    color: #1d2025;
    margin: 0px;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 28px;
}

h4 {
    font-size: 22px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 16px;
}

p {
    font-size: 17px;
    font-weight: 400;
    line-height: 28px;
    color: #505050;
    margin-top: 0;
    margin-bottom: 1rem;
}


ul,
ol {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

.bg_cover {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

/*=====================================================
  All Button Style
======================================================*/
.main-btn {
    display: inline-block;
    margin-left: 33%;
    font-weight: 500;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid #f6b224;
    padding: 0 35px;
    font-size: 16px;
    font-weight: 700;
    line-height: 50px;
    border-radius: 50px;
    color: #07294d;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    z-index: 5;
    -webkit-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
    background-color: #f6b224;
}

.main-btn:hover {
    color: #f6b224;
    border-color: #07294d;
    background-color: #07294d;
}

/*===== Header top =====*/

.header-top {
    background-color: #07294d;
    padding-top: 10px;
}

.header-contact ul li {
    display: inline-block;
    margin-right: 45px;
}

.header-contact ul li:last-child {
    margin-right: 0;
}



.header-contact ul li span {
    color: #dee2e6;
    font-size: 15px;
    font-weight: 400;
    margin-left: 10px;
}

.header-opening-time p {
    color: #dee2e6;
    font-size: 15px;
    font-weight: 400;
}

/*===== Header Logo support =====*/

.header-logo-support {
    border-bottom: 1px solid #cecece;
    margin-top: 25px;
}

.support-button .support {
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin-top: 7px;
}

.support-button .support .cont {
    margin-left: 15px;
    margin-top: -2px;
}

.support-button .button {
    margin-left: 60px;
}

/*===== Header Menu =====*/

.navigation.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    z-index: 999;
    border-bottom: 1px solid #cecece;
    -webkit-box-shadow: 0px 0px 191px 0px rgba(0, 0, 0, 0.06);
    box-shadow: 0px 0px 191px 0px rgba(0, 0, 0, 0.06);
    -webkit-animation: sticky 2s;
    animation: sticky 2s;
}

.navigation {
    border-bottom: 1px solid #cecece;
}

.navigation .navbar {
    padding: 0;
    margin-left: 100px;
    border-bottom: 1px solid #cecece;
}

.navigation .navbar .navbar-nav li {
    margin-right: 20px;
    position: relative;
}

.navigation .navbar .navbar-nav li:last-child {
    margin-right: 0;
}

.navigation .navbar .navbar-nav li a {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #07294d;
    text-transform: uppercase;
    -webkit-transition: all 0.4s linear;
    transition: all 0.4s linear;
    padding: 25px 0;
}

.navigation .navbar .navbar-nav>li>a.active,
.navigation .navbar .navbar-nav>li>a:hover {
    color: #f6b224;
}

.navigation .navbar .navbar-nav li .sub-menu {
    position: absolute;
    top: 110%;
    left: 0;
    background-color: #07294d;
    width: max-content;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.4s linear;
    transition: all 0.4s linear;
    z-index: 99;
}

.navigation .navbar .navbar-nav li:hover .sub-menu {
    opacity: 1;
    visibility: visible;
    top: 100%;
}

.navigation .navbar .navbar-nav li .sub-menu li {
    margin-right: 15px;
}

.navigation .navbar .navbar-nav li .sub-menu li a {
    display: block;
    border-bottom: 1px solid rgba(255, 198, 0, 0.5);
    color: #fff;
}

.navigation .navbar .navbar-nav li .sub-menu li a.active,
.navigation .navbar .navbar-nav li .sub-menu li a:hover {
    padding-left: 20px;
    color: #f6b224;
}

.sub-nav-toggler {
    display: none;
}

.navigation .navbar .navbar-nav li .sub-menu li:last-child a {
    border-bottom: 0;
}

.navbar .navbar-toggler {
    padding: 3px 8px;
    margin: 18px 0;
    -webkit-transform: all 0.4s linear;
    transform: all 0.4s linear;
}

.navbar .navbar-toggler .icon-bar {
    width: 30px;
    height: 2px;
    background-color: #07294d;
    display: block;
    margin: 5px 0;
    position: relative;
    -webkit-transition: all 0.4s linear;
    transition: all 0.4s linear;
}

.navbar .navbar-toggler.active .icon-bar:nth-of-type(1) {
    -webkit-transform: rotate(46deg);
    transform: rotate(46deg);
    top: 7px;
}

.navbar .navbar-toggler.active .icon-bar:nth-of-type(2) {
    opacity: 0;
}

.navbar .navbar-toggler.active .icon-bar:nth-of-type(3) {
    -webkit-transform: rotate(134deg);
    transform: rotate(134deg);
    top: -7px;
}

.right-icon ul li {
    display: inline-block;
    margin-right: 17px;
    padding: 22px 0;
}

.right-icon ul li:last-child {
    margin-right: 0;
}

.right-icon ul li a {
    font-size: 18px;
    color: #07294d;
    position: relative;
    padding-right: 7px;
}

.right-icon ul li a span {
    font-size: 12px;
    color: #fff;
    background-color: #f6b224;
    border-radius: 50%;
    padding: 0px 4px;
    position: absolute;
    top: -5px;
    right: 0;
}

/*=====================================================
  Hero section css 
======================================================*/
.container1 {
    background-image: url(../public/img/hero-bg.png);
}

.carousel-caption h2 {
    color: #00306e;
    margin-bottom: 183px;
    font-size: 31px;
    font-weight: 800;
    text-transform: uppercase;
    width: 50%;
    float: right;
}

@media (max-width: 1215px) {
    .carousel-caption h2 {
        color: #00306e;
        font-size: 25px;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 100px;
        width: 50%;
    }
}

@media (max-width: 915px) {
    .carousel-caption h2 {
        color: #00306e;
        font-size: 20px;
        font-weight: 600;
        text-transform: uppercase;
        margin-bottom: 100px;
        width: 50%;
    }
}

@media (max-width: 750px) {
    .carousel-caption h2 {
        color: #00306e;
        font-size: 20px;
        font-weight: 600;
        text-transform: uppercase;
        margin-bottom: 100px;
        width: 50%;
    }
}

@media (max-width: 653px) {
    .carousel-caption h2 {
        color: #00306e;
        font-size: 18px;
        font-weight: 600;
        text-transform: uppercase;
        margin-bottom: 50px;
        width: 50%;
    }
}

@media (max-width: 550px) {
    .carousel-caption h2 {
        color: #00306e;
        font-size: 15px;
        font-weight: 600;
        text-transform: uppercase;
        margin-bottom: 50px;
        width: 50%;
    }
}

@media (max-width: 450px) {
    .carousel-caption h2 {
        color: #00306e;
        font-size: 9px;
        font-weight: 600;
        text-transform: uppercase;
        margin-bottom: 0%;
        width: 50%;
    }
}



.carousel-caption h2 span {
    color: #f6b224;
}

/*=====================================================
  ABOUT css 
======================================================*/

.section-title h1 {
    font-size: 28px;
    margin-bottom: 0;
    line-height: 44px;
    color: #00306e;
}

.yellow-color {
    color: #f6b224;
}

.welcome {
    padding: 50px 0;
    position: relative;
}

.welcome .welcome-img-div {
    width: 100%;
    height: auto;
    margin: 15px 0 0 0;
    padding: 0;
    text-align: center;
}

/*=====================================================
  ABOUT css 
======================================================*/
.section-title h5 {
    color: #07294d;
    position: relative;
    padding-bottom: 12px;
    font-size: 22px;
}

.section-title h2 {
    font-size: 48px;
    color: #000;
    padding-top: 10px;
}

#about-part {
    position: relative;
    padding-bottom: 220px;
}

.about-bg {
    width: 52%;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -2;
}

.about-bg::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 60%, rgba(255, 255, 255, 1) 100%);
}

.about-bg img {
    width: 100%;
}

.about-cont p {
    padding-top: 30px;
    float: right;
}

.about-event {
    -webkit-box-shadow: 0px 0px 191px 0px rgba(0, 0, 0, 0.06);
    box-shadow: 0px 0px 191px 0px rgba(0, 0, 0, 0.06);
    padding: 65px 70px 37px;
    background-color: rgba(255, 255, 255, 0.95);
}

.about-event .event-title h3 {
    font-size: 36px;
    color: #000;
    padding-bottom: 5px;
}

.about-event ul li .singel-event {
    padding: 25px 0;
    border-bottom: 1px solid #cecece;
}

.about-event ul li:last-child .singel-event {
    border-bottom: 0;
}

.about-event ul li .singel-event span {
    font-size: 14px;
    color: #8a8a8a;
    margin-right: 20px;
}

.about-event ul li .singel-event span i {
    color: #f6b224;
    margin-right: 3px;
}

.about-event ul li .singel-event a {
    display: block;
}

.about-event ul li .singel-event a h4 {
    padding-top: 5px;
    padding-bottom: 10px;
    color: #000;
    font-size: 24px;
    -webkit-transition: all 0.4s linear;
    transition: all 0.4s linear;
}

.about-event ul li .singel-event a:hover h4 {
    color: #f6b224;
}

/*=====================================================
 APPLY css 
======================================================*/


.apply {
    margin-top: -100px;
    position: relative;
}

.apply-color-1 {
    background-color: #07294d;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.apply-color-2 {
    background-color: #092e56;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.apply .apply-cont {
    margin: 5px;
    padding: 57px 30px 19px;
}

.apply .apply-cont h3 {
    font-size: 30px;
    color: #fff;
    padding-bottom: 15px;
}

.apply .apply-cont p {
    color: #fff;
    padding: 30px;
    text-align: start;
}

.apply .apply-cont .main-btn:hover {
    border-color: #f6b224;
}

/* service */
.icon {
    font-size: 50px;
    width: 50%;
}

.services .nav-tabs {
    border-bottom: none;
    justify-content: center;
    margin-bottom: 25px;
}

.features {
    padding-top: 120px;
}

.section-bg {
    background-color: #fff8ec;
}

.section-title h2 {
    align-items: center;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    color: #00306e;
    letter-spacing: 0.5px;
}

.services .nav-link {
    border: 0;
    padding: 8px 0 8px 0;
    transition: 0.3s;
    color: #17171d;
    border-radius: 0;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    margin: 0px;
    line-height: 28px;
    width: 224px;
    height: 178px;
    position: relative;
    background-color: #fff;
    box-shadow: 0px 5px 30px #E7EBF0;
    border-radius: 20px;
    overflow: hidden;
    padding-top: 30px;
}

.services .nav-link .services_tabs_link_icon.academics_img {
    background-position: -364px -60px;
}

.services .nav-link {
    font-size: 16px;
    line-height: 24px;
    width: 204px;
    height: 168px;
}

.services .nav-link .services_tabs_link_icon {
    height: 60px;
    width: 60px;
    background: url(../public/img/sprite-genius.png) no-repeat;
    margin: 0 auto 5px;
    text-align: center;
}

.services .nav-link::before {
    width: 100%;
    margin: 0px;
    padding: 0px;
    content: "";
    height: 5px;
    background-color: #307ad5;
    position: absolute;
    bottom: 0px;
    left: 0px;
    border-radius: 0px 0px 20px 20px;
}

.services .nav-link.hrm-tabs.active {
    background-color: #921815;
}

.services .nav-link.payroll-tabs::before {
    background-color: #d94da6;
}

.services .nav-link.exam-tabs::before {
    background-color: #10c45c;
}

.services .nav-link.transportation-tabs::before {
    background-color: #1ec1d9;
}

.services .nav-link.student-tabs::before {
    background-color: #307ad5;
}

.services .nav-link.academics-tabs::before {
    background-color: #f6b224;
}

.services .full-box-row {
    margin-bottom: 20px;
    padding: 0;
    border-radius: 0px;
    position: relative;
    padding-left: 0;
    min-height: auto;
}

.features_img_div {
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: auto;
    background-color: #00306e;
    border-radius: 0px 20px 20px 0px;
    margin: 0px;
}

.tab-con-item .box_title h3 {
    text-decoration: none;
    background-color: #00306e;
    border-radius: 50px;
    padding: 0 35px;
    color: #fff;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0.5px;
    height: 48px;
    position: relative;
    top: -34px;
    margin: auto;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transition: color 400ms;
    transition: color 400ms;
}

.tab-con-item .box_title {
    text-align: center;
}

.tab-con-item {
    background-color: #fff;
    border-radius: 16px;
    -webkit-box-shadow: 0 0 26px rgba(0, 0, 0, .1);
    box-shadow: 0 0 26px rgba(0, 0, 0, .1);
    margin-top: 40px;
    margin-bottom: 36px;
    padding: 10px 15px;
}

.tab-con-item .view-first .mask {
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    background-color: #fff;
    border: 1px solid #00aeef;
    transition: all .4s ease-in-out;
}

.tab-con-item .view .mask {
    width: 100%;
    height: 175px;
    position: absolute;
    overflow: hidden;
    top: -5%;
    left: 0;
    background: #fff;
    z-index: 1000;
    padding-bottom: 20px;
}

.tab-con-item .view .mask,
.view .content {
    width: 100%;
    height: 175px;
    position: absolute;
    overflow: hidden;
    top: -5%;
    left: 0;
    background: #fff;
    z-index: 1000;
    padding-bottom: 10px;
}

.tab-con-item .text-details {
    font-style: normal;
    line-height: 22px;
    font-size: 14px;
    position: relative;
    color: #191920;
    padding: 10px 10px 10px;
    text-align: center;
    font-weight: 400;
}

.section-title {
    text-align: center;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

.tab-con-item .view-clo .icon-div img {
    vertical-align: middle;
    height: 50px;
}

.tab-con-item .view-clo .titel-text {
    color: #00306e;
    font-size: 16px;
    text-align: center;
    font-weight: 600;
    margin: 0;
    padding: 0;
}

.tab-con-item .text-details {
    font-style: normal;
    line-height: 22px;
    font-size: 14px;
    position: relative;
    color: #191920;
    padding: 10px 10px 10px;
    text-align: center;
    font-weight: 400;
}

/*=====================================================
  Education CSSS
======================================================*/
section {
    padding: 60px 0;
    overflow: hidden;
}

.section-title .sub-text {
    color: #222222;
    padding: 8px 0px;
    font-size: 16px;
    font-weight: 400;
    display: inline-block;
    letter-spacing: 0.6px;
}

.our_exemplary_services .icon.teacher {
    background-position: -1118px 2px;
}

.our_exemplary_services .icon {
    margin: 0 auto 20px auto;
    display: inline-block;
    text-align: center;
    background: #e7f2fb url(../public/img/sprite-genius.png) no-repeat;
    height: 90px;
    width: 90px;
    border-radius: 50px;
    position: absolute;
    top: -45px;
    left: 40%;
}

.our_exemplary_services .icon-box {
    padding: 75px 10px 10px;
    position: relative;
    transition: all 0.3s ease-in-out;
    border-radius: 10px;
    text-align: center;
    background-image: linear-gradient(to bottom, #0049a8, #00306f);
    width: 100%;
}

.our_exemplary_services .title {
    font-weight: 500;
    margin-bottom: 12px;
    font-size: 20px;
    color: #f6b224;
    letter-spacing: 0.5px;
}

.our_exemplary_services .description ul li span {
    font-size: 14px;
    line-height: 26px;
    margin: 0px;
    padding: 0px;
    color: #fff;
    font-weight: 400;
    position: relative;
    padding-left: 30px;
}

.our_exemplary_services .description ul li {
    margin: 0px;
    padding: 0px;
    height: 66px;
    border-bottom: #3367ab 1px solid;
    list-style: none;
    align-items: center;
    display: flex;
    text-align: left;
}

.our_exemplary_services .description ul li span i {
    color: #f6b224;
    position: absolute;
    left: 12px;
    top: 10px;
    font-size: 7px;
}

/*==============================================================
OUR FEATURED COURSEE WRAP CSS START
==============================================================*/
/*Tab View Menu*/
.iq_tab_menu {
    float: left;
    width: 100%;
    position: relative;
    text-align: center;
    margin: 0px 0px 10px;
}

.iq_tab_menu ul {
    float: left;
    width: 100%;
    margin: 0 0 30px;
    text-align: center;
}

.iq_tab_menu ul li {
    display: inline-block;
    position: relative;
    width: 120px;
    margin: 0px 0px 0px 10px;
}

.iq_tab_menu ul li:first-child {
    margin-left: 0px;
}

.iq_tab_menu ul li a {
    display: block;
    font-size: 18px;
    font-weight: normal;
    padding: 12px 0px;
    line-height: normal;
    border: 1px solid #c4c4c4;
    text-transform: uppercase;
    line-height: 18px;
    background-color: #f6b224;
}

.iq_tab_menu ul li:hover a,
.iq_tab_menu ul li.active a {
    color: #fff;
    background-color: #00306e;
}

/*Tab View Detail Style*/
.iq_course_list {
    float: left;
    width: 100%;
    margin: 0 0 30px;
    position: relative;
    border: 1px solid #dfdfdf;
}

.iq_course_list figure {
    border-bottom: 5px solid;
}

.iq_course_list_des {
    float: left;
    width: 100%;
    text-align: center;
    position: relative;
    padding: 62px 20px 15px;
}

.iq_course_list_des h5 {
    font-size: 22px;
    margin: 0px 0px 18px;
    display: inline-block;
}

.iq_course_list_des p {
    font-size: 16px;
    line-height: 24px;
    margin: 0px 0px 24px;
}

.iq_course_list_des ul {
    float: left;
    width: 100%;
    position: relative;
    padding: 17px 0px 1px;
    border-top: 1px solid #dfdfdf;
}

.iq_course_list_des ul li {
    float: left;
    font-size: 15px;
    position: relative;
    line-height: normal;
    padding: 0px 0px 0px 40px;
}

.iq_course_list_des ul li a {
    color: #f6b224;
}

.iq_course_list_des ul li:first-child {
    padding-left: 0px;
}

.iq_course_list_des ul li>i {
    margin-right: 10px;
}

.iq_course_icon {
    top: -41px;
    right: 0px;
    left: -10px;
    width: 77px;
    color: #fff;
    height: 77px;
    margin: auto;
    z-index: 9999;
    font-size: 40px;
    line-height: 77px;
    position: absolute;
    text-align: center;
    background-color: #fff;
    border-radius: 100%;
}

.iq_course_list:hover .iq_course_icon {
    background-color: #fff;
    box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.18);
}

.iq_course_list>.iq_link_1 {
    float: left;
    width: 100%;
}

.iq_course_list_des .rating_down {
    margin: 0px 0 -3px 0;
}

.iq_heading_1 h4 {

    font-size: 30px;
    font-weight: 700;
    display: inline-block;
    text-transform: uppercase;
    color: #f6b224;
}

.iq_heading_1 h4 span {
    font-size: 30px;
    font-weight: 700;
    display: inline-block;
    text-transform: uppercase;
    color: #f6b224;
}

/*=====================================================
  COUNT  CSS
======================================================*/
.iq_number_count_bg {
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url('../public/img/hero-bg.jpg');
}

.iq_number_count_bg:before {
    top: 0px;
    left: 0px;
    width: 100%;
    content: "";
    opacity: 0.7;
    height: 100%;
    position: absolute;
    background-color: #000;
}

.iq_counter {
    float: left;
    width: 100%;
    margin: 0 0 26px;
    position: relative;
    text-align: center;
}

.iq_counter i {
    margin: 0px 0px 11px;
    width: 25%;
}

.iq_counter span {
    color: #fff;
    display: block;
    font-size: 60px;
    line-height: normal;
    margin: 0px 0px 13px;
}

.iq_counter h6 {
    color: #fff;
    font-size: 18px;
    text-transform: capitalize;
}


/*=====================================================
  TEASTIMONIAL css 
======================================================*/

.bg_cover1 {
    background-image: url('../public/img/hero-bg.jpg');
    width: 100%;
    height: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

/*=====================================================
 FOOTER css 
======================================================*/

.footer-top {
    padding-top: 40px;
    background-color: #07294d;
    padding-bottom: 40px;
}

ul {
    padding-left: 0;
}

.footer-about {
    padding-right: 50px;
}

.footer-about p {
    color: #fff;
    padding-top: 15px;
}

.footer-about ul li {
    display: inline-block;
    margin-right: 15px;
}

.footer-about ul li:last-child {
    margin-right: 0;
}

.footer-about ul li a {
    width: 35px;
    line-height: 35px;
    font-size: 15px;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    background-color: #021d3a;
    -webkit-transition: all 0.4s linear;
    transition: all 0.4s linear;

}

.footer-about ul li a:hover {
    background-color: #f6b224;
    color: #021d3a;
    -webkit-transition: all 0.4s linear;
    transition: all 0.4s linear;

}

.footer-about {
    padding-right: 50px;
}

.footer-title1 h6 {
    font-size: 18px;
    color: #fff;
    padding-right: 150px;
    margin-bottom: 25px;
}

.footer-title2 h6 {
    font-size: 18px;
    color: #fff;
    padding-right: 55px;
    margin-bottom: 25px;
}

.footer-title3 h6 {
    font-size: 18px;
    color: #fff;
    padding-right: 100px;
    margin-bottom: 25px;
}


.footer-link {
    overflow: hidden;
}

.footer-link ul {
    width: 50%;
    float: left;
    overflow: hidden;
}

.footer-link ul li {
    line-height: 35px;
    text-align: start;
}

.footer-link ul li a {
    color: #fff;
    font-size: 15px;
    -webkit-transition: all 0.4s linear;
    transition: all 0.4s linear;
}

.footer-link ul li a i {
    margin-right: 8px;
    color: #f6b224;
    -webkit-transition: all 0.4s linear;
    transition: all 0.4s linear;
}

.footer-link ul li a:hover {
    color: #f6b224;
}

.footer-link ul li a:hover i {
    margin-right: 15px;
}

.support ul {
    float: none;
    width: 100%;
}

.footer-address ul li {
    position: relative;
    margin-bottom: 10px;
}

.footer-address ul li:last-child {
    margin-bottom: 0;
}

.footer-address ul li .icon i {
    font-size: 18px;
    color: #f6b224;
    position: absolute;
    left: -10px;
    top: 5px;
}

.footer-address ul li .cont {
    padding-left: 10px;
}

.footer-address ul li .cont p {
    color: #fff;
}

.footer-copyright {
    background-color: #021d3a;
}

.footer-copyright .copyright p {
    color: #fff;
}

.footer-copyright .copyright p span {
    font-weight: 600;
}

.back-to-top {
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 40px;
    height: 40px;
    line-height: 35px;
    background-color: #f6b224;
    color: #fff;
    font-size: 28px;
    border-radius: 5px;
    z-index: 99;
    text-align: center;
    -webkit-transition: all 0.4s linear;
    transition: all 0.4s linear;
    display: none;
}

.back-to-top:hover {
    color: #fff;
    background-color: #021d3a;
}

/*====================================================
		   ABOUT US PAGE START
   =======================================================*/
.iner_banner {
    float: left;
    width: 100%;
    text-align: center;
    background-image: url("../public/img/Aboutus/bg.test.jpg");
    padding: 70px 0 77px;
    background-size: cover;
    position: relative;
    z-index: 2;
    background-position: center;
}

.iner_banner:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #000000;
    opacity: 0.75;
    z-index: -1;
}

.iner_banner h5 {
    font-size: 50px;
    color: #fff;
    margin-bottom: 18px;
    position: relative;
    display: inline-block;
    z-index: 2;
    text-transform: uppercase;
}

.iner_banner h5:before {
    content: "";
    left: 0;
    right: 0;
    top: 0;
    bottom: -4px;
    position: absolute;
    border-bottom: 1px solid;
    width: 44px;
    margin: 0 auto;
    z-index: -1;
}

.banner_iner_capstion {
    float: left;
    width: 100%;
}

.banner_iner_capstion ul li {
    display: inline-block;
    position: relative;
}

.banner_iner_capstion ul li:before {
    color: #fff;
    content: "/";
    left: -1px;
    position: absolute;
    top: 7px;
}

.banner_iner_capstion ul li:first-child:before {
    font-size: 0;
}

.banner_iner_capstion ul li>a {
    font-size: 16px;
    text-transform: capitalize;
    color: #fff;
    padding: 0 5px;
    display: block;
}

.about-image img {
    width: 100%;
    border-radius: 5px;
    margin: 30px;
    margin-top: 65px;
}

.about-singel-items span {
    font-size: 60px;
    color: #dbdbdb;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 46px;
    padding-bottom: 22px;
}

.about-singel-items h4 {
    color: #000;
    font-size: 24px;
    font-weight: 500;
    padding-bottom: 25px;
}

.about-singel-items p {
    color: #000;
    font-size: 17px;
    font-weight: 500;
    padding-bottom: 25px;
}

.section-title1 {
    text-align: center;
    padding-bottom: 15px;
    margin-bottom: 15px;
    margin-top: 70px;
}

.section-title1 h5 {
    font-size: 18px;
    font-weight: 700;
    color: #07294d;
    position: relative;
    float: left;
}

.section-title1 h2 {
    font-weight: 700;
    font-size: 35px;
    color: #021d3a;
    padding-top: 40px;

}

.section-title1 h3 {
    font-weight: 600;
    font-size: 25px;
    color: #021d3a;
    padding-top: 40px;
}

.section-title2 h3 {
    font-weight: 600;
    font-size: 25px;
    color: #021d3a;
    padding-top: 40px;
}

.section-title2 .link-success {
    font-weight: 500;
    font-size: 18px;
    padding-top: 10px;
}

.section-title2 p {
    font-weight: 500;
    font-size: 18px;
    color: #FF6600;
}

.section-title2 p span {
    font-weight: 600;
    font-size: 22px;
    color: #021d3a;
}

.section-title3 h4 {
    text-align: center;
    font-weight: 500;
    font-size: 18px;
    color: #FF6600;
    padding-top: 25px;
}

.about-cont h3 span {
    font-size: 18px;
    line-height: 27.5px;
    font-weight: 600;
    color: #021d3a;
    text-align: start;
    padding: 15px;
}

.about-cont h5 {
    padding-top: 10px;
    font-size: 18px;
    line-height: 27.5px;
    font-weight: 500;
    text-align: start;
}

.about-cont p {
    font-size: 17px;
    font-weight: 500;
    text-align: start;
}

.about-cont1 h2 span {
    font-size: 24px;
    font-weight: 700;
    color: #07294d;
    padding-bottom: 10px;
    position: relative;
    float: left;
}

.about-cont1 p {
    font-size: 14px;
    font-weight: 500;
    float: left;
}

.about-cont h2 {
    font-weight: 600;
    font-size: 28px;
    color: #021d3a;
    padding-top: 30px;
    padding-bottom: 30px;
}

.about-cont h5 {
    font-size: 18px;
    font-weight: 500;
    color: #07294d;
    position: relative;
    float: left;
}

/*=====================================================
 COUNTER css
 ======================================================*/
.bg_cover {
    background-image: url(../public/img/hero-bg.jpg);
    opacity: 0.8;
    width: 100%;
    height: 100%;
    padding-top: 65px;
    padding-bottom: 65px;
}

.singel-counter {
    position: relative;
    z-index: 5;
}

.singel-counter span {
    font-size: 36px;
    color: #f6b224;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.singel-counter p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #07294d;
    font-size: 20px;
}

/*=====================================================
 CONTACT PAGE css 
======================================================*/
.ctp-contact-form h2 {
    font-size: 40px;
    font-weight: bold;
    color: #212529;
    margin-bottom: 40px;
}

.ctp-contact-form .form-group {
    position: relative;
    margin-bottom: 18px;
}

.ctp-contact-form .form-group label {
    display: block;
    background-color: #ffffff;
    border: 1px solid #E5E5E5;
    border-radius: 5px;
    position: absolute;
    left: 20px;
    top: -10px;
    z-index: 1;
    padding: 5px 10px;
    color: #57647C;
    font-weight: 500;
}

.ctp-contact-form .form-group .form-control {
    padding: 40px 20px 20px 20px;
    float: unset;
    border: none;
    font-size: 15px;
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    background-color: #ffffff;
    color: #212529;
    border: 1px solid #E5E5E5;
    border-radius: 5px;
}

.ctp-contact-information .information-box {
    background-color: #ffffff;
    -webkit-box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.05);
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 10px;
}

.ctp-contact-information .information-box h3 {
    font-size: 20px;
    font-weight: bold;
    color: #212529;
    margin-bottom: 18px;
}

.ctp-contact-information .information-box .contact-info {
    padding: 0;
    margin-bottom: 0;
}

.ctp-contact-information .information-box .contact-info li {
    font-size: 16px;
    font-family: "Raleway", sans-serif;
    color: #57647C;
    list-style-type: none;
    margin-bottom: 15px;
    position: relative;
    padding-left: 85px;
}

.ctp-contact-information .information-box .contact-info li .sub {
    font-family: "Raleway", sans-serif;
    background: linear-gradient(90deg, #ee0979 0%, #ff6a00 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-size: 16px;
    font-weight: 600;
    position: absolute;
    left: 0;
    top: 0;
}


.ctp-contact-information .information-box .time-info li .color {
    font-family: "Raleway", sans-serif;
    background: linear-gradient(90deg, #ee0979 0%, #ff6a00 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-size: 16px;
    font-weight: 600;
}

.ctp-contact-information .information-box .time-info li span {
    color: #57647C;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.ctp-contact-information .information-box .time-info li {
    list-style-type: none;
    margin-bottom: 15px;
}

.ctp-contact-information .information-box .time-info {
    padding: 0;
    margin-bottom: 0;
}

.ctp-contact-information .information-box .contact-info {
    padding: 0;
    margin-bottom: 0;
}

.ctp-contact-information .information-map .map {
    border-radius: 15px;
    width: 100%;
    height: 350px;
    margin-bottom: -8px;
}


.shadow-inner {
    box-sizing: content-box;
    padding: 10px;
    margin: 10px 0px;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
    position: relative;
    border-radius: 15px;
    margin-bottom: 40px;
}

.shadow-inner4 {
    box-sizing: content-box;
    padding: 10px;
    margin: 10px 0px;
    background-color: #ffffff;
    box-shadow: 10px 10px lightblue;
    position: relative;
    border-radius: 15px;
    margin-bottom: 40px;
}

/*=====================================================
     gallery css
======================================================*/

.container2 {
    display: flex;
    width: 100%;
    padding: 1% 1%;
    box-sizing: border-box;
    height: 50vh;
}

.box {
    flex: 1;
    overflow: hidden;
    transition: .5s;
    margin: 0 1%;
    box-shadow: 0 20px 30px rgba(0, 0, 0, .1);
    line-height: 0;
    height: 50vh;
}

.box>img {
    width: 200%;
    height: calc(100% - 10vh);
    object-fit: cover;
    transition: .5s;
}

.box:hover {
    flex: 1 1 50%;
}

.box:hover>img {
    width: 100%;
    height: 100%;
}

/*=====================================================
     student zone 
======================================================*/

.card-body {
    background-color: #f6b224;
    overflow: hidden;
}

.card,
.col-sm {
    padding-top: 30px;
    padding-bottom: 10px;
}

.fa {
    font-size: 25px;
}

.stretched-link {
    font-size: 20px;
    padding-left: 10px;
}


.form-group {
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

label {
    font-size: medium;
}

.form-control {
    height: 50px;
    font-size: 20px;
    font-weight: 500;
}

/*=====================================================
     PUBLICATION css
======================================================*/
.singel-publication {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
}

.singel-publication .image {
    position: relative;
}

.singel-publication .image img {
    width: 100%;
}

.singel-publication .image .add-cart {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(7, 41, 77, 0.8);
    opacity: 0;
    -webkit-transition: all 0.4s linear;
    transition: all 0.4s linear;
}

.singel-publication .image:hover .add-cart {
    opacity: 1;
}

.singel-publication .image .add-cart ul {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.singel-publication .image .add-cart ul li {
    display: inline-block;
    margin: 0 5px;
}

.singel-publication .image .add-cart ul li a {
    font-size: 16px;
    color: #ffc600;
    width: 35px;
    line-height: 35px;
    border: 1px solid #ffc600;
    text-align: center;
    -webkit-transition: all 0.4s linear;
    transition: all 0.4s linear;
}

.singel-publication .image .add-cart ul li a:hover {
    background-color: #ffc600;
    color: #07294d;
}


.singel-publication .cont {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 25px;
}

.singel-publication .cont .name {
    width: 50%;
}

.singel-publication .cont .name a {
    display: block;
}

.singel-publication .cont .name a h6 {
    font-size: 14px;
    -webkit-transition: all 0.4s linear;
    transition: all 0.4s linear;
}

.singel-publication .cont .name a:hover h6 {
    color: #ffc600;
}

.singel-publication .cont .name span {
    font-size: 13px;
    color: #8a8a8a;
}

.singel-publication .cont .button {
    width: 50%;
}

.singel-publication .cont .button a {
    padding: 0 10px;
    font-size: 12px;
    line-height: 35px;
}

.section-title1 {
    float: left;
}

.main-btn {
    margin-bottom: 22px;
}

.Feature {
    display: inline-block;
}

a {
    text-decoration: none;
}

/*=====================================================
  Computer course CSS
======================================================*/
/* faq-accordion */
.ctp-faq-accordion .accordion-item .accordion-button {
    color: white;
    background-color: #0A2049;
    position: relative;
    -webkit-box-shadow: unset;
    box-shadow: unset;
    margin-bottom: 0;
    display: block;
    border: none;
    width: 100%;
    font-size: 15px;
    font-weight: 600;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.ctp-faq-accordion .accordion-item .accordion-button p {
    font-size: 13px;
}

.ctp-faq-accordion .accordion-item .accordion-button:hover {
    background: linear-gradient(135deg, #23bdb8 0%, #0A2049 100%);
    box-shadow: 0 5px 7px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.ctp-faq-accordion {
    max-width: 1095px;
    margin: auto;
}

.ctp-faq-accordion .accordion-item {
    background-color: #c8ebe9;
    -webkit-box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.05);
    border-radius: 15px;
    margin-bottom: 15px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    border: none;
}

.accordion-body p {
    font-size: 13px;
    line-height: 100%;
}

th {
    padding-left: 6px;
}

td {
    padding: 5px;
    font-size: 12px;
}

.inset {
    border-style: inset
}

.Apply {
    background-color: #0A2049;
    color: white;
    padding: 14px 25px;
    margin: 14px;
}

.Apply1 {
    padding: 30px;
    margin-bottom: 20px;
    text-align: center;
    font-size: large;
}

.Apply:hover {
    background-color: #ffc600;
}

.about-image1 img {
    width: 100%;
    border-radius: 5px;
}

/*=====================================================
  Affilication Process  CSS
======================================================*/
/* Training Colleges  */

.table>thead>tr>th {
    padding: 35px;
    font-size: 15px;
    text-align: center;
}

.table>tbody>tr>td {
    padding: 40px;
    font-size: 15px;
    text-align: center;
}

.table>tbody>tr>th {
    padding: 50px;
}